<head>
    <title>Add Person</title>
</head>
<body>
    <style>
        input,select{
            width: 13em;
            height: 2em;
            border-radius: 4px;
            border-width: thin;
        }
    </style>
    <h1>Add Person</h1><br><br>
    <form method="POST">
        <label>Name</label><br>
        <input name="name" required><br>
        <label>Role</label><br>
        <input name="role" required><br>
        <label>Gender</label><br>
        <input name="gender" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/"><button>Home</button></a>
</body>