<html>
    <head>
        <title>Office Quote Library</title>
    </head>
    <style>
        #title{
            padding-top: 15px;
            padding-bottom: 15px;
            width: 9em;
            text-align: center;
            border: dashed;
            border-color: red;
            border-top-color: blue;
            border-bottom-color: blue;
            background-color: orange;
        }
        .centered-content{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <body style="background-color: lightcyan;">
        <div class="centered-content">
            <h1 id='title'>Office Quote Library</h1>
        </div>
        <br><br><br>
        <a href="/quotes"><button>All Quotes</button></a>
        <a href="/people"><button>All People</button></a>
        <br><br>
        <select id='person_select'>
            {%for i in people%}
            <option value='{{ i.id }}''>
                {{ i.name }}
            </option>
            {%endfor%}
        </select>
   <button onclick='window.location.href = `/quotes/${document.getElementById("person_select").value}`''>See Person's Quotes</button><br><br>

   <a href="/add_person"><button>Add Person</button></a>
        {%for i in people%}
    <div style="width: 20%; display: flex; justify-content: center; border: 1px solid grey; border-radius: 6px; background: rgb(255, 255, 255); margin: 20px;">
        {{i.name}}, 
        {{i.role}},  
        {{i.gender}}  
       

    </div>
    
    {%endfor%}
    
    </body>
</html>
